body{
  margin: 0;
  padding: 0;
}
.App{
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  flex-direction: column;
}

.TitleSection{
  background-color: rgb(38, 173, 185);
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
}

.TitleSection input{
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px rgb(38, 173, 185);
  font-size: 18px;
  padding-left: 10px;
}

.TitleSection button{
  width: 190px;
  height: 60px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  background-color: rgb(255, 168, 168);
  color: white;
}

.TitleSection button:hover{
  cursor: pointer;
}

.DisplaySection{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DisplaySection h4, h3{
  margin: 10px;
}

.DisplaySection img{
  width: 250px;
}